
<title>My application deployed automatically</title>
In the 1st form , enter a list of integers separated by a newline <br>
In the 2nd form , enter first integer.<br>
In the 3rd form , enter second integer. <br>
If the first integer is the biggest in the list and the second integer is the smallest in the list,then the result become true<br><br>
  <h1>The Biggest and The Smallest</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
	 <br>
        <input type="submit">
  </form>
