
<title>My application deployed automatically</title>
  <h1>The Biggest and The Smallest</h1>
     <br>kelimeyi 1.kutuya yazditan sonra enter tusuna basiniz.
      <br>2. ve 3. kutucuklara bir sayi girmeniz beklenmektedir.
	<br>Sonuc olarak girdiginiz kelimelerden uzunlugu girdiginiz
 	<br>sayiların arasında ilk kelime ekrana basılacaktir.
 	<br>
    Result is {{result}}
    

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
	 <br>
        <input type="submit">
  </form>
